<!DOCTYPE HTML>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MediSeba - Medical & Healthcare Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Assets/images/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Assets/css/assets/bootstrap.min.css">
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="~/Assets/css/assets/font-awesome.min.css">
    <!-- Animate Css -->
    <link rel="stylesheet" href="~/Assets/css/assets/animate.css">
    <!-- Owl Slider -->
    <link rel="stylesheet" href="~/Assets/css/assets/owl.carousel.min.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Assets/css/assets/tempusdominus-bootstrap-4.min.css">
    <!-- Magnific PopUp -->
    <link rel="stylesheet" href="~/Assets/css/assets/magnific-popup.css">
    <!-- Custom Style -->
    <link rel="stylesheet" href="~/Assets/css/assets/normalize.css">
    <link rel="stylesheet" href="~/Assets/css/style.css">
    <link rel="stylesheet" href="~/Assets/css/assets/responsive.css">
</head>
<body>
    <div class="parentscrollbar">
        <div class="scrollbar" id="style-1">
            <div class="force-overflow">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- End Footer Section -->
    <!-- =========================================
    JavaScript Files
    ========================================== -->
    <!-- jQuery JS -->
    <script data-cfasync="false" src="~/Assets/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Assets/js/assets/vendor/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Assets/js/assets/popper.min.js"></script>
    <script src="~/Assets/js/assets/bootstrap.min.js"></script>
    <!-- Wow Animation -->
    <script src="~/Assets/js/assets/wow.min.js"></script>
    <!-- Owl Slider -->
    <script src="~/Assets/js/assets/owl.carousel.min.js"></script>
    <!-- Date Picker -->
    <script src="~/Assets/js/assets/moment.min.js"></script>
    <script src="~/Assets/js/assets/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Isotope -->
    <script src="~/Assets/js/assets/isotope.pkgd.min.js"></script>
    <!-- Magnific PopUp -->
    <script src="~/Assets/js/assets/magnific-popup.min.js"></script>
    <!-- Counter Up -->
    <script src="~/Assets/js/assets/counterup.min.js"></script>
    <script src="~/Assets/js/assets/waypoints.min.js"></script>
    <!-- Smooth Scroll -->
    <script src="~/Assets/js/assets/smooth-scroll.js"></script>
    <!-- Syotimer -->
    <script src="~/Assets/js/assets/jquery.syotimer.min.js"></script>
    <!-- Mean Menu -->
    <script src="~/Assets/js/assets/jquery.meanmenu.min.js"></script>
    <!-- Form Validation -->
    <script src="~/Assets/js/assets/form.js"></script>
    <!-- Custom JS -->
    <script src="~/Assets/js/custom.js"></script>
    <script src="~/Assets/js/plugins.js"></script>
</body>
</html>